# Postgres superuser (used by init)
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Keycloak DB
KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=admin
KEYCLOAK_DB_PASS=admin123

# Fineract DBs
FINERACT_DB_USER=admin
FINERACT_DB_PASS=admin123
FINERACT_TENANTS_DB_NAME=fineract_tenants
FINERACT_TENANT_DEFAULT_DB_NAME=fineract_default

# Tenancy Management Service DB
TENANT_MGMT_DB_USER=tenant_mgmt
TENANT_MGMT_DB_PASS=admin123
TENANT_MGMT_DB_NAME=fineract_tenant_management

